# ==========================
# Database configuration
# ==========================
db.driver=
db.url=
db.user=
db.password=

flyway.url=
flyway.user=
flyway.password=
flyway.cleanDisabled=false

# ==========================
# Hibernate
# ==========================
hibernate.dialect=
hibernate.show_sql=
hibernate.hbm2ddl.auto=

# ==========================
# Other secrets
# ==========================
app.secret=
jwt.secret=

# Firebase Admin
firebase.service.account.path=/.../firebase-service-account.json

# Firebase Web Config
firebase.web.apiKey=
firebase.web.authDomain=
firebase.web.projectId=
firebase.web.storageBucket=
firebase.web.messagingSenderId=
firebase.web.appId=
firebase.web.measurementId=